.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.book img {
  width: 100%;
  object-fit: cover;
  height: fit-content;
  border-radius: 1rem;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.book h4 {
  color: '#617d98';
  font-size: '1rem';
  margin-top: '0.5rem';
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c35600;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  text-transform: capitalize;
}
